{% extends 'layout.html' %}

{% block content %}
<h1>Acerca de mí</h1>


<p>Mi nombre es Fabrizio Armoa, tengo 23 años, soy de la ciudad de Las Breñas-Chaco
   y comencé a estudiar programación hace un año aproximadamente. Mi primer lenguaje aprendido fue Python y me gustó mucho,
   por lo que decidí comenzar el curso en CoderHouse.
   Este proyecto fue un desafío para mí, ya que no había hecho nada similar anteriormente, 
   además de que es la primera vez que trabajo con Django. 
   Pero me gustó el desafío y estoy bastante contento con el resultado final.
</p>

{% endblock %}